<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Learning Journal</title>

	<!-- Reset -->
	<!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/modern-normalize@2.0.0/modern-normalize.min.css"> -->

	<!-- Google Fonts -->
	<!-- <link rel="preconnect" href="https://fonts.googleapis.com">
	<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
	<link href="https://fonts.googleapis.com/css2?family=Figtree:wght@400;700&display=swap" rel="stylesheet"> -->

	{% load static %}
	<link rel="stylesheet" href="{% static 'mypett/style.css' % }">
</head>
<body>
	<section id="hero">
		<div class="container">

			<header>
				<a href="/">Journal</a>

				<nav>
					<ul>
						<li><a href="#">Work</a></li>
						<li><a href="#">Company</a></li>
						<li><a href="#">Blog</a></li>
						<li><a href="#">Careers</a></li>
						<li><a href="#">Contact</a></li>
					</ul>
				</nav>
			</header> 

			<h1>Learning journal <span> helps you keep track of your learning,</span> for any topic you're learning about.</h1>

			<!-- Air -->
		</div>
	</section>
</body>
</html>